
{% extends "base.html" %}

{% load static %}

{% block content %}
	
	<div class="my-container-about text-center mt-3 mb-5">
		<div class='about'>
            <h3>About</h3>
            <div class='about1'>
                <h4>The cozy label , YAAAH! Get into cozy mood babe ; )</h4>
                <p>Among the youth, there appears to be an enthusiastic approach to combine clothes with a western touch. Newer designs often feature tops, blouses, sling dress,pants with slits,and many accessories. New fashions are emerging rapidly, as designers compete to produce designs in tune with current trends.To make it much more easier for you, the cozy label brings you the international trends to favour DESIRE clothing to all the occasions. 
Well, you could be a free spirited Boho, a lover of indo-western, or an ever sophisticated royalty; you'll definitely be able to find a part of you in what we present.TCL aspire to provide you with the best online shopping experience.</p>
<p>with love</p>
<h2>-TCL</h2>
<h3><q><i>Life's too short to wear boring clothes</i></q></h3>
<h4 class='c'>-Carly Cushnie</h4>
            </div>
            <div class='about0'>
            <div class='about2'>
            <div class='about3'>
              <img src="{% static 'images/co.webp' %}">  
                </div>    
            <div class='about4'>
                <h3>Mission</h3>
                <div class='c1'></div>
                <p>TCL strives to provide our customers with superior products and extraordinary services at competitive prices. We seek to inspire, uplift, and strengthen women.We want you to love yourself and relish the space you're in! To do this we must build lifestyle environment that appeal emotionally and offer fashion products on a timely basis. </p>
            </div>
            </div>
            <div class='about21'>   
            <div class='about4'>
                <h3>Vision</h3>
                <div class='c1'></div>
                <p>TCL strives to provide our customers with superior products and extraordinary services at competitive prices. We seek to inspire, uplift, and strengthen women.We want you to love yourself and relish the space you're in! To do this we must build lifestyle environment that appeal emotionally and offer fashion products on a timely basis. </p>
            </div>
            <div class='about31'>
              <img src="{% static 'images/m2.webp' %}">  
                </div> 
            </div>
        </div>
        <div class='about2'>
            <div class='about3'>
              <img src="{% static 'images/v.webp' %}" />  
                </div>    
            <div class='about4'>
                <h3>Values</h3>
                <div class='c1'></div>
                <p>TCL strives to provide our customers with superior products and extraordinary services at competitive prices. We seek to inspire, uplift, and strengthen women.We want you to love yourself and relish the space you're in! To do this we must build lifestyle environment that appeal emotionally and offer fashion products on a timely basis. </p>
            </div>
            </div>
    </div>
	</div>



{% endblock content %}