
{% extends "base.html" %}

{% load static %}

{% block content %}
<style>

</style>
	
	<div class="my-container-about text-center mt-3 mb-5">
		<div class='about'>
            <h3>About</h3>
            <div class='about1'>
                <h4>The cozy label , YAAAH! Get into cozy mood babe ; )</h4>
                <p>Among the youth, there appears to be an enthusiastic approach to combine clothes with a western touch. Newer designs often feature tops, blouses, sling dress,pants with slits,and many accessories. New fashions are emerging rapidly, as designers compete to produce designs in tune with current trends.To make it much more easier for you, the cozy label brings you the international trends to favour DESIRE clothing to all the occasions. 
                    Well, you could be a free spirited Boho, a lover of indo-western, or an ever sophisticated royalty; you'll definitely be able to find a part of you in what we present.TCL aspire to provide you with the best online shopping experience.</p>
                    <p>with love</p>
                    <h2>-TCL</h2>
                    <h3><q><i>Life's too short to wear boring clothes</i></q></h3>
                    <h4 class='c'>-Carly Cushnie</h4>
            </div>
            <div class='container mt-5'>
                <div class='row'>
                    <div class='col-lg-6 col-sm-12'>
                    <img src="{% static 'images/co.webp' %}" style="max-height: 300px; max-width: 300px; border: 2vh solid rgb(247, 247, 247);;">  
                    </div>    
                    <div class='col-lg-6 col-sm-12 align-container-outer'>
                        <div class="align-container about4">
                        <h3>Mission</h3>
                        <div class='c1'></div>
                        <p>TCL strives to provide our customers with superior products and extraordinary services at competitive prices. We seek to inspire, uplift, and strengthen women.We want you to love yourself and relish the space you're in! To do this we must build lifestyle environment that appeal emotionally and offer fashion products on a timely basis. </p>
                    </div>
                    </div>
                </div>
                <div class='row mt-5'>
                     
                    <div class='col-lg-6 col-sm-12 align-container-outer'>
                        <div class="align-container about4">
                        <h3>Vision</h3>
                        <div class='c1'></div>
                        <p>We want to
                            Expand The cozy Label image globally through the right choice of international distribution channels’ mix.
                            Become and remain an undisputed leader in affordable luxury fashion.
                            Increase the importance of accessories to broaden our customers’ reach.
                            Ensure constant sales dynamics through multiple collection’s themes per year.</p>
                        </div>
                    </div>
                    <div class='col-lg-6 col-sm-12'>
                        <img src="{% static 'images/272.webp' %}" style="max-height: 300px; max-width: 300px; border: 2vh solid rgb(247, 247, 247);;">  
                        </div>  
                </div>
                <div class='row mt-5 '>
                    <div class='col-lg-6 col-sm-12'>
                        <img src="{% static 'images/374.webp' %}" style="max-height: 300px; max-width: 300px; border: 2vh solid rgb(247, 247, 247);;">  
                    </div>  
                     
                    <div class='col-lg-6 col-sm-12 align-container-outer '>
                        <div class="align-container about4">

                            <h3>Values</h3>
                        <div class='c1'></div>
                        <p>1) We are passionate in everything we undertake.</p>
                        <p>2) we are uncompromising about our integrity and are driven by an interest in the world and our customers.</p>
                        <p>3) Learning: we believe in trial and error; we trust our gut feeling and emotions.</p>
                        </div>
                        
                    </div>
                    
                </div>
            
            </div>
        </div>
    </div>



{% endblock content %}