{% extends "base.html" %}

{% block content %}
	
	<div class="container text-center mt-3 mb-5">
		<h1 class="mb-5">About us</h1>
		<p class="text-left">Here we at <strong>The Cozy label</strong> , just not make T-Shirts. We brew the Latest & Trending designs to T-Shirt which suits you as per your persona. We are here to INK your thoughts on your Tee’s. As per the market trends, we allow our customers to make their own designed T-Shirt’s and get it delivered at their doorsteps. For this we have made all our efforts.Any customer can get it desired design printed and even can customize the Style of T-Shirt. </p>
		<p class="text-left">
		We are here for our customers and not only for business. One can order just single (1) pcs and up to infinite numbers of Tee’s. While most people do not know, we do not outsource the manufacturing of our products, everything from the conception of the designs to the manufacture and the styling that you see on the photographs of the banners and product pages of our website all happen in house! We go from yarn to product and since we 're vertically integrated and bring fashion from us directly to your doorstep without any middlemen that also further ensures reliability because for us it is not just about the money but about building the trust and credibility.
		</p>
		<p class="text-left">
			Work your fashion with the wide range of apparels available only one click away! Make a statement with our best t-shirts online! Get more, pay less!
		</p>
		<hr>
		<p>Contact Us: <a href="#">emailaddress here</a> Or <strong>Whatsapp us </strong>for fast reponse</p>
		<p><b>Thank You</b></p>
	</div>



{% endblock content %}