{% extends "base.html" %}

{% block content %}
<div class='container mt-5 mb-2'>
    <div class='ret'>
		<div class='ret1'>
			<h3 style="text-align: center;"><b>Exchange and Returns</b></h3>
			<div class='ret2'><p>1. This option is applicable only in case of size issues (subjected to availability of stock.)</p></div>
			<div class='ret2'><p>2. We accept returns within 2 days from the Date of Delivery.</p></div>
			<div class='ret2'><p>3. Customer should take care of the parcel until it reaches our warehouse (be it any courier services you choose, you should bear the shipping costs)</p></div>
			<div class='ret2'><p>4. Products which are unused, unwashed, undamaged, with all the labels and tags, in original packaging are eligible for returns.</p></div>
			<div class='ret2'><p>5. After the successfull returns, You can order any product and redeem your amount.</p></div>
	   		<div class='ret2'><p>6. <b>NOTE:</b> The above mentioned points are strictly applicable.</p></div>
		</div>
	</div>
</div>
{% endblock content %}