{% extends "base.html" %}

{% block content %}
<div class='container mt-5 mb-2'>
	<div class='how'>
		<div class='how1'>
			<h3 style="text-align: center;"><b>HOW TO BUY</b></h3>
			<p class='how2'>Use our navigation menu to narrow down your search by Tops & Blouses, Dresses, CO-CO-ORDS, Jumpsuits, Bottoms,Accessories. Add your favourite products to cart, check out by providing relevant address with the choice of multiple payment methods. You will be receiving order status on your registered mail I'd or mobile number.</p>
			<p class='how2'>Now, We are providing option of placing an order on Whatsapp, Instagram and Facebook. All you have to do is just drop a message.</p>
		</div>
	</div>
</div>
{% endblock content %}