{% extends 'base.html' %}

{% block content %}
<style>
  {% for color in product.colors.all %}
  .color-{{forloop.counter}}{
      background-color: {{color.colorcode}};
      border:1px solid grey;
  }
  
  {% endfor %}
  
  
  </style>

  <!--Main layout-->
  <main class="mt-5">
    <div class="mt-5 pt-3">
      
      <!--Grid row-->
      <div class="row wow fadeIn mx-5">
        

        <!--Grid column-->
        <div class="col-lg-6 mb-4">
          <a class="link-text mx-2" href="/"><b>Home</b></a>> <a class="link-text" href="/all_product/?c={{product.category.pk}}"><b>{{product.category.name}}</b></a> > {{product.title}}
          <div class="mb-2 py-5">
            

            <a href="{{product.image.url}}" data-lightbox="example-set" data-title="{{product.title}}">
              <img class="card-img-top" style="display: block;
              margin-left: auto;
              margin-right: auto;
              width: 70%;" src="{{product.image.url}}" alt="item-pic"/>
            </a>
          </div>
        
            

          <div class='row'>
            {% if product.image_1 %}
            <div class='col-md-3 col-sm-3 col-3'>
              <div class="product-img zoom">
                <a href="{{product.image_1.url}}" data-lightbox="example-set" data-title="{{product.title}}">
                  <img class="card-img-top" src="{{product.image_1.url}}" alt="item-pic"/>
                </a>
              </div>
            </div>
            {% endif %}
            {% if product.image_2 %}
            <div class='col-md-3 col-sm-3 col-3'>
              <div class="product-img zoom">
                <a href="{{product.image_2.url}}" data-lightbox="example-set" data-title="{{product.title}}">
                  <img class="card-img-top" src="{{product.image_2.url}}" alt="item-pic"/>
                </a>
              </div>
            </div>
            {% endif %}
            {% if product.image_3 %}
            <div class='col-md-3 col-sm-3 col-3'>
              <div class="product-img zoom">
                <a href="{{product.image_3.url}}" data-lightbox="example-set" data-title="{{product.title}}">
                  <img class="card-img-top" src="{{product.image_3.url}}" alt="item-pic"/>
                </a>
              </div>
            </div>
            {% endif %}
            
            {% if product.image_4 %}
            <div class='col-md-3 col-sm-3 col-3'>
              <div class="product-img zoom">
                <a href="{{product.image_4.url}}" data-lightbox="example-set" data-title="{{product.title}}">
                  <img class="card-img-top" src="{{product.image_4.url}}" alt="item-pic"/>
                </a>
              </div>
            </div>
            {% endif %}
          </div>
          

        </div>

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4">
          <div class='row'>
            <div class='py-5'>

          <!--Content-->
              <div class="p-4 mb-4">
                <form action="{% url 'products:add_to_cart' %}" id='form1' method='POST'>

                {% csrf_token %}


                  <input type='hidden' name='pk' value='{{product.pk}}'>
                  <div class='title-font-d pb-2'>

                  <b>{{product.title}}</b>
                  </div>
                  <!-- <hr style="position: relative; 
                  top: 0px; 
                  border: none; 
                  height: 1px;
                  background: black; 
                  margin-bottom: 15px; "> -->

                  <p class="lead">
                    <span class="font-weight-bold">
                          {% if product.discount_price %}
                          <span class="money-d">₹ {{product.discount_price|floatformat:0}}</span>
                          
                      
                          <span class='money-strike-d'>₹<s> {{product.price|floatformat:0}}</s></span>

                          <span style='color:red;'><small>{{product.get_discount_percentage}}% discount</small></span>
                          
                          {% else %}
                          <span class="money-d">₹ {{product.price|floatformat:0}}</span>
                
                          {% endif %}
                    </span>
                    <small><br>(Inclusive of all taxes.)</small>
                  </p>
                  {% if product.is_in_stock %}
                  <p>In Stock</p>
                  {% else %}
                  <p style="color: red;">Out of Stock</p>
                  {% endif %}

                  
                  
                  <div class='form-group size' id='size'>
                    <div class='label-size'>Select Size: <span id='size-label'></span>
                    
                    </div>
                  </div>
                  <div>
                    {% for size in product.sizes %}
                      <a class="al">{{size}}</a>
                    {% endfor %}
                  </div>
                  <div class="my-2">
                    <a href="{% url 'products:size' %}" class='link-text'><b><u>Check Size Guide</u></b></a>
                  </div>

                  <div class='mt-3'>
                    <label class='label-size'>Select Colour: <span id='color-label'></span></label>
                </div>
                  
                <div class='mb-4'>
                  {% for color in product.colors.all %}
                    
                    <a class='color-{{forloop.counter}} cl' id='{{color}}' data-toggle="tooltip" data-placement="bottom" title='{{color}}'></a>
                  {% endfor %}
                </div>

                  

                  <div class='mt-3'>
                      <label for='qty' class='label-size'>Qty:</label>
                  </div>
                    
                  <div class='mb-4'>
                    <input class='form-control' style='width:50px;' type="number" id="qty" name="quantity" min="1" max='9'
                      value="1" required>
                  </div>

                  {% if product.is_in_stock %}
                  <button type='submit' class="btn btn-dark btn-md mx-0 mb-4">
                    Add to cart
                  <i class="fas fa-shopping-cart ml-1"></i>
                  </button>
                  {% else %}
                  

                  {% endif %}
                  
                  


                  
                  

                  <div>
                    <h4>Description</h4>
                    <!-- <hr style="position: relative; 
                  top: 0px; 
                  border: none; 
                  height: 1px;
                  background: black; 
                  margin-bottom: 15px; "> -->
                  {% if product.description %}
                    <p>{{product.description}}</p>
                  {% endif %}
                  </div>
                  {% if product.color %}
                  <div >
                    <label class='label-size'>Colour</label>
                    <p>{{product.color}}</p>
                  </div>
                  {% endif %}
                  {% if product.material %}
                  <div >
                    <label class='label-size'>Material</label>
                    <p>{{product.material}}</p>
                  </div>
                  {% endif %}
                  {% if product.stretchability %}
                  <div >
                    <label class='label-size'>Stretchability</label>
                    <p>{{product.stretchability}}</p>
                  </div>
                  {% endif %}
                  {% if product.disclaimer %}
                  <div >
                    <label class='label-size'>Disclaimer</label>
                    <p>{{product.disclaimer}}</p>
                  </div>
                  {% endif %}

                  

                </form>


          
              </div>
          <!--Content-->
            </div>
            
          </div>

        </div>
        <!--Grid column-->

       

      </div>
      <!--Grid row-->


    </div>
  </main>
  <!--Main layout-->
{% endblock content %}


{% block script %}



<script>
  var size='Nn';
  var color='Nn';
  var sp = 0;
  var cp = 0;

    $(".al").click(function(e){
      $(".al").removeClass("al-active")
      $(this).addClass("al-active")
      size = $(this).html()
      $('#size-label').html(size)
    })

    $(".cl").click(function(e){
      $(".cl").removeClass("cl-active")
      $(this).addClass("cl-active")
      color = $(this).attr('id')
      $('#color-label').html(color)
    })
    $(document).on('submit', '#form1', function (e) {
      if (size=='Nn'){
        $('#size-label').html('Please select size!')
        sp = 0
      }
      else{
        sp = 1
      }
      if (color=='Nn'){
        $('#color-label').html('Please select colour!')
        cp = 0
      }
      else{
        cp = 1
      }
      if (cp == 1 && sp == 1) {
        $("<input />").attr("type", "hidden")
            .attr("name", "size")
            .attr("value", size)
            .appendTo("#form1");
        $("<input />").attr("type", "hidden")
            .attr("name", "color")
            .attr("value", color)
            .appendTo("#form1");
        return true;
      }
      else{
        return false;
      }
    });
</script>



{% endblock script %}