{% extends "base.html" %}

{% block content %}
<div class='container mt-5 mb-2'>
    <div class='shi1'>
		<h3 style="text-align: center;"><b>SHIPPING POLICY</b></h3>
		<p class='shi2'>Please note that our products are on pre booking of 10-20 Business days, it may take longer due to situations out of our control.</p>
		<h3 style="text-align: center;"><b>HOW LONG IT TAKES AN ORDER TO ARRIVE?</b></h3>
		<p class='shi2'>Well, the order will be dispatched within 10-20 business days and it takes less than a week or more to deliver the order depends on the location. Meanwhile, our team will be in touch with you and update you about the order.
		The cozy label is not liable for the delay in order due to the circumstances which are out of our control.For any queries related to shipping you can contact us thru Instagram- thecozylabel, Whatsapp-9390198581</p>
		<h3 style="text-align: center;"><b>PRODUCT AVAILABILITY</b></h3>
		<p class='shi2'>We make sure that the products listed on our website is available in stock. At times, the products may not be available. In that case, we will be in touch with you soon.</p>
		<h3 style="text-align: center;"><b>DAMAGED PRODUCTS</b></h3>
		<p class='shi2'>If you have received the parcel in bad condition or the parcel is damaged, do not accept the order and also update us about this. After receiving the order, please shoot a video while opening the parcel if there are any damages we can help you only provided with a video.</p>
    </div>
</div>
{% endblock content %}