{% extends "base.html" %}

{% block content %}
	<div class="container mt-3 mb-5 text-center">
		<h1 class="mb-5">Return Refund & Cancellation</h1>
		<div class="container">
			<h3 class="text-left"><u><strong>Cancellation Policy:</strong></u></h3>
			<br>
			<ul>
				<li class="text-left">
					You can raise cancellation request for items or orders within 24 hours from the time of placing the order by sharing us an email with your order ID and the reason for cancellation. Remember the cancellation request must be raised from the ID used while ordering on our site. Send us the email on order@yctees.in

				</li>
				<li class="text-left">
					Once we receive your cancellation request, your refund will be initiated within 7 working days to the same payment method.
				</li>

				<li class="text-left">
					And the same will reflect in your bank accounts within the next 10-12 working days.
				</li>
			</ul>

		</div>

		<div class="container">
			<h3 class="text-left"><u><strong>Return & Refund Policy:</strong></u></h3>
			<br>
			<ul>
				<li class="text-left">
					 Once the order is shipped from the warehouse, it cannot be cancelled. When the shipment is delivered and if the customer receives a faulty product then he or she can raise the return request within 15 days from delivery date by sharing us an email with your order ID and the reason for return. Remember the return request must be raised from the ID used while ordering on our site. Send us the email on order@yctees.in
				</li>

				<li class="text-left">
					  If you have received damaged product/s, no worries, you can return the product within 15 days from delivery date and If the product delivered to you was faulty from our end, then we will proceed with replacement of the Product/ Refund, as per customer request.
				</li>

				<li class="text-left">
 				 Our shipping partners will arrange a return pickup from your address.				</li>

				<li class="text-left">
					The amount will be refunded in your used payment method within 7 working days once the product is received at our warehouse.

				</li>

				<li class="text-left">
					   And the same will reflect in your bank accounts within the next 10-12 working days.
				</li>

				<li class="text-left">
					For cash on delivery orders, the refund amount will be settled into particular bank account shared by customer as we receive the product at our warehouse. Cash Collection Charges will not be Refunded. The Refund will be initiated within 7 working days and same will be reflecting within the next 10-12 working days.
				</li>

				<li class="text-left">
					 Please pack the items securely to prevent any loss or damage during return transit.
				</li>

				<li class="text-left">
					In case your query is still not resolved, please write to us at order@yctees.in. Our Customer Care representatives will be happy to help you.
				</li>
			</ul>
		</div>

		<div class="container">
			<h3 class="text-left"> <u><strong>Customized Orders:</strong> </u> </h3>
			<br>
			<ul>
				<li class="text-left">
					*In case of any size issues in the custom t-shirts there will be no replacement or refund under any circumstances. However, if the product is faulty or damaged from our end then the customer can proceed the return request.
				</li>

				<li class="text-left">
					*Customers are requested to check the size guide before placing the order.
				</li>

				<li class="text-left">
					*The colour of the custom t-shirt may slightly vary as per the customer's screen resolution.
				</li>
			</ul>
		</div>
		
	</div>
{% endblock content %}