{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <!--Main layout-->
<div class="container">
        <div class="row pt-4 justify-content-center">

            <!-- Content -->
            <div class="col-lg-10 col-sm-12 col-md-12">

                <section class="section pt-4">
                    <h4 class="font-weight-bold mt-4 dark-grey-text"><strong>Your Orders</strong></h4>
                    <hr class="mb-5">
                    {% for order in orders %}

                    <div class="card mt-4">
                      <h5 class="card-header h5">Order #{{order.order_id}}</h5>
                      <div class="card-body over-x-auto">
                        <table class="table">
                              <tbody>
                                <tr>
                                  <td class="card-text">Total Price:</td>
                                  <td class="card-text">Rs. {{order.total}}</td>
                                </tr>
                               

                                <tr>
                                  <td class="card-text">Status:</td>
                                  <td>{% if order.is_paid %}
                            <span class="badge badge-success">Payment Success</span>
                        {% else %}
                            <span class="badge badge-warning">Payment Failed</span>
                        {% endif %}


                                  </td>
                                </tr>


                                {% if order.transaction_id %}
                                <tr>
                                  <td class="card-text">Transaction ID:</td>
                                  <td class="card-text">{{order.transaction_id}}</td>
                                </tr>
                                {% endif %}
                              </tbody>
                            </table>   
                          
                        <a href="{% url 'profile:your-order-detail' pk=order.pk %}" class="btn btn-dark">See Details</a>
                      </div>
                    </div>

                    {% endfor %}

                </section>

            </div>
            <!-- /.Content -->

        </div>
</div>
                    
{% endblock content %}