{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mb-container">
        <div class="row pt-4 justify-content-center">
          <div class="col-lg-6 col-sm-12 col-md-12">


                <section class="section pt-4">
                    <hr class="mb-5">
                    <div class="card">


                      <!--Card content-->
                      <div class="card-body px-lg-5 pt-0">
                      

          
                        <!-- Form -->
                        <form class="text-center login" method='POST' action="{% url 'account_login' %}">

                          <!-- Email -->
                          {% csrf_token %}
                          {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                          {% endif %}
                          <div class="md-form">
                            <input type="email" name='login' id="materialLoginFormEmail" class="form-control">
                            <label for="materialLoginFormEmail">E-mail</label>
                            {% for error in form.login.errors %}
                            <p style="color:red"><small>{{error}}</small></p>
                            {% endfor %}
                          </div>

                          <!-- Password -->
                          <div class="md-form">
                            <input type="password" name='password' id="materialLoginFormPassword" class="form-control">
                            <label for="materialLoginFormPassword">Password</label>
                            {% for error in form.password.errors %}
                            <p style="color:red"><small>{{error}}</small></p>
                            {% endfor %}
                          </div>

                          <div class="d-flex justify-content-around mb-4">
                            
                            <div>
                              <!-- Forgot password -->
                              <a href="/accounts/password/reset/" class="link-text"><strong>Forgot password?</strong></a>
                            </div>
                          </div>

                          <!-- Sign in button -->
                        <button class="btn btn-dark btn-lg btn-block waves-effect waves-light mb-4" type="submit">Login</button>

                          <!-- Register -->
                          <p>Not a member?
                            <a href="{{signup_url}}" class="link-text"><strong>Register here</strong></a>
                          </p>

                        </form>
                        <!-- Form -->

                      </div>

                    </div>
                    

                </section>
          </div>

        </div>
</div>




{% endblock %}
