{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}

<div class="container mb-container">
        <div class="row pt-4 justify-content-center">
          <div class="col-lg-6 col-sm-12 col-md-12">
                <section class="section pt-4">
                    <h4 class="font-weight-bold mt-4 dark-grey-text"><strong>Password Reset</strong></h4>
                    <hr class="mb-5">
                    
                    <div class="card mb-5 p-4">
                    
                    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Set Password" %}{% endif %}</h1>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                              <form class="card-body" method='POST' action="{{ action_url }}">

                        {% csrf_token %}
                          {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                          {% endif %}
                          {% for field in form %}
                          
                          <div class="md-form">
                            {{field|add_class:'form-control'}}

                            {% for error in field.errors %}
                            <p style="color:red"><small>{{error}}</small></p>
                            {% endfor %}
                          </div>

                          {% endfor %}
                        <button class="btn btn-primary btn-lg btn-block waves-effect waves-light mb-4" type="submit">Set Password</button>

                          



                      </form>

        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
                    

                    <p class='mt-4'>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>


                  </div>

                </section>

          </div>

        </div>
</div>
{% endblock %}




