{% extends "account/base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container mb-container">
        <div class="row pt-4 justify-content-center">
          <div class="col-lg-6 col-sm-12 col-md-12">
                <section class="section pt-4">
                    <h4 class="font-weight-bold mt-4 dark-grey-text">Change Password</h4>
                    <hr class="mb-5">
                    <div class="card mb-5">
                      <form class="password_change card-body" method='POST' action="{% url 'account_change_password' %}">

                        {% csrf_token %}
                          {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                          {% endif %}
                          {% for field in form %}
                          
                          <div class="md-form">
                            {{field|add_class:'form-control'}}

                            {% for error in field.errors %}
                            <p style="color:red"><small>{{error}}</small></p>
                            {% endfor %}
                          </div>

                          {% endfor %}



                        <button class="btn btn-dark btn-lg btn-block waves-effect waves-light mb-4" type="submit">Change Password</button>

                        
                          
                          <div class="d-flex justify-content-around mb-4">
                            
                            <div>
                              <!-- Forgot password -->
                              <a href="/accounts/password/reset/" class="link-text"><b>Forgot password?</b></a>
                            </div>
                          
                          </div>

                      </form>

                  </div>

                </section>
          </div>

        </div>
</div>
{% endblock %}


