
{% load cart_template_tags %}
{% load static %}
<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white">
  <div class="container">

      <a class="navbar-brand" href="{% url 'products:list_products' %}">
        <div class="nav-control">
          <img src="{% static 'images/logo.png'%}" width="100%" alt="">
        </div>
      </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
          <li class="nav-item align-items-center">
              <form class="form-inline" method='GET' action='{% url 'products:all_products' %}'>
                <input class="form-control" name='name' value="{{request.GET.name}}" type="search" placeholder="Search" aria-label="Search">
              </form>
          </li>

        

        {% if request.user.is_authenticated %}

          <li class="nav-item align-center">
              <a class="nav-link" href="{% url 'profiles:menu'%}">
               <span>My Account</span> 
              </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'products:cart' %}" class="nav-link waves-effect">
              <i class="fas fa-shopping-cart">
              {% if request.user|cart_item_count %}
              <span class="badge red z-depth-1">
                {{request.user|cart_item_count}}
              </span>
              {% endif %} 
              </i>
              <span> Cart </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/accounts/logout/" class="nav-link waves-effect">
              <span>Logout</span>
            </a>
          </li>

          {% else %}
          <li class="nav-item align-items-center">
            <a href="/accounts/login/" class="nav-link waves-effect">Login</a>
          </li>

          <li class="nav-item align-content-center">
            <a href="/accounts/signup/" class="nav-link waves-effect">Signup</a>
          </li>
          {% endif %}

      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </div>

</nav>
<!--/.Navbar-->
