{% load static %}
{% load cart_template_tags %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light white" style="box-shadow: unset;">
    <div class="container">

    
      <!-- Brand -->
      <a class="navbar-brand mx-auto" href="{% url 'products:list_products' %}">
        <div class="nav-control">
          <img src="{% static 'images/logo.png'%}" width="100%" alt="">
          
        </div>
        
      </a>



      <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <!-- Links -->


    </div>
  </nav>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light justify-content-center" style="top: 75px; background-color: #efefef; padding: 0; box-shadow: unset;">

    <ul class="nav justify-content-center lighten-4">
      <li class="nav-item">
        <a href="/" type="button" class="btn btn-flat" style="margin: 0; box-shadow: unset;">Orders</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'a:contacts-list' %}" type="button" class="btn btn-flat" style="margin: 0; box-shadow: unset;">Contact Forms</a>
      </li>
      
      
      <li class="nav-item">
        <a href="{% url 'a:item-list' %}" type="button" class="btn btn-flat" style="margin: 0; box-shadow: unset; ">Items</a>
      </li>

      <li class="nav-item">
        <a href="{% url 'a:colors' %}" type="button" class="btn btn-flat" style="margin: 0; box-shadow: unset; ">Colours</a>
      </li>
  

      <li class="nav-item">
        <a href="/accounts/logout/" type="button" class="btn btn-flat" style="margin: 0; box-shadow: unset; ">Logout</a>
      </li>
  
   
    </ul>
    
  </nav>