
  <!-- Footer -->
<footer class="page-footer font-small mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Connect With Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"><i class="fab fa-2x fa-facebook pr-2"></i>Facebook</a>
          </li><br>
          <li>
            <a href="#!"><i class="fab fa-2x fa-instagram pr-2"></i>Instagram</a>
          </li><br>
          <li>
            <a href="#!"><i class="fab fa-2x fa-twitter pr-2"></i>Twitter</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">
      

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">The Cozy Label</h5>

        <ul class="list-unstyled">

          <li>
            <a href="{% url 'products:about_us' %}">About Us</a>
          </li>

          <li>
            <a href="{% url 'products:contact-us' %}">Contact Us</a>
          </li>

          <li>
            <a href="{% url 'products:faq' %}">FAQ</a>
          </li>

          <li>
            <a href="{% url 'products:return_refund' %}">Cancellation and Refund policy</a>
          </li>

          <li>
            <a href="{% url 'products:privacy_policy' %}">Privacy Policy</a>
          </li>
          <li>
            <a href="{% url 'products:terms_condition' %}">Terms and Conditions</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

       <!-- Grid column -->
      <div class="col-md-3 mx-auto">

      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Address</h5>


      <ul class="list-unstyled">
          <li>
            <p>The Cozy Label</p>
          </li>
          <li>
            <p>Address line</p>
          </li>
          <li>
            <p>address line</p>
          </li>
          
          <li>
            <p><a href="whatsapp://send?phone=+919999999999"><i class="fab fa-2x fa-whatsapp pr-1"></i>+91-99999-99999</a></p>
          </li>
        </ul>


      </div>
      <!-- Grid column -->



    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> The Cozy Label</a>.
  </div>

</footer>
<!-- Footer -->
