{% load static %}
<style>
  .white-bg{
    background-color: white;
    color: black;
  }
</style>
  <!-- Footer -->


<footer class="font-small mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <hr>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="mt-3 footer-head" style="font-weight: 450;">Contact Us</h5>
        <div class='c2 mobile-hider'></div>
        <div class='c2 mx-auto mobile-viewer'></div>
        <ul class="list-unstyled mt-2">
          <li>
            <p>For any queries or order updates get in touch with our team at:</p>
            <p>Email: customerservice@alamodelabel.in</p>
            
          </li><br>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">
      

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="mt-3 footer-head" style="font-weight: 450;">Quick Links</h5>
        <div class='c2 mobile-hider'></div>
        <div class='c2 mx-auto mobile-viewer'></div>
        <ul class="list-unstyled mt-2">

          <li class="mb-2">
            <a href="{% url 'products:about_us' %}" class='link-text-footer'>About Us</a>
          </li>

          <li class="mb-2">
            <a href="#" class='link-text-footer'>How to buy</a>
          </li>
          <li class="mb-2">
            <a href="#" class='link-text-footer'>Size Guide</a>
          </li>
          <li class="mb-2">
            <a href="#" class='link-text-footer'>Shipping Policy</a>
          </li>

          <li class="mb-2">
            <a href="#" class='link-text-footer'>Exchange and Returns</a>
          </li>
          <li class="mb-2">
            <a href="#" class='link-text-footer'>Privacy Policy</a>
          </li>
          <li class="mb-2">
            <a href="#" class='link-text-footer'>Terms and Conditions</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

       <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <h5 class="mt-3 footer-head" style="font-weight: 450;">News letters</h5>
        <div class='c2 mobile-hider'></div>
        <div class='c2 mx-auto mobile-viewer'></div>
        
        <ul class="list-unstyled mt-2">
          <li>
            <p>Subscribe to receive updates, access to exclusive deals, and more.</p>
            <form>
              <input type='text' />
              <button type="submit" class='btn btn-sm btn-dark ml-0 mt-2'>Submit</button>
            </form>
          </li><br>
          
        </ul>


      </div>
      <!-- Grid column -->



    </div>
    <!-- Grid row -->
    <hr>
    

  </div>
  <!-- Footer Links -->


  <!-- Copyright -->
  <div class="text-center white-bg">
    
    <div class='olo mb-2'>
      <img src="{% static 'images/logo.png'%}">
     
  </div><p>© 2020 Copyright:
    ThecozyLabel Pvt Ltd. All Rights Reserved</p>
     <p>Made by <a class="link-text" href="https://avasyutech.com/"><b>AvasyuTech</b></a></p>
  </div>

</footer>
<!-- Footer -->