{% extends 'admin_base.html' %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block content %}

  <!--Main layout-->
  <main class="">
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn justify-content-center">

        <!--Grid column-->
        <div class="col-lg-12 col-md-12 col-sm-12 mb-4">

          <!--Card-->

            <!--Card content-->
            <div class='container'>
                <div class='row justify-content-center'>
                    <div class='col-lg-8 col-md-12 col-sm-12'>
                        <div class="card mt-4" style='width:100%; overflow-x:auto;'>
                            <h1 class='mt-4 ml-4'>Edit Item</h1>
                            <form class='card-body' method="POST" enctype="multipart/form-data">
                                {%csrf_token%}
                                
                                {{form|crispy}}
                                
                                <button class='btn btn-primary btn-lg btn-block waves-effect waves-light' type="submit">Save</button>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
           


          <!--/.Card-->

        </div>
      </div>
    </div>
  </main>
{% endblock content %}

